doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
include mixin.jade
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title 繫上歷史的黃絲帶 － 從林義雄禁語抗議回顧那個噤聲的年代
    // libraries
    include library.jade
    // custom files
    link(rel="icon",type="image/gif",href="img/favicon.png")
    link(rel="stylesheet",type="text/css",href="s/css/main.css")
    script(type="text/javascript",src="assets/skrollr/skrollr.min.js")
    script(type="text/javascript",src="s/js/main.js")
    script(type="text/javascript",src="s/js/navbar.js")
  body(ng-app,ng-controller="main")
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation",ng-controller="navbar")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#"): .ib: img(src="img/nav/eforum.png")
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="#") 繫上歷史的黃絲帶　　從林義雄禁語抗議回顧那個噤聲的年代
          ul.nav.navbar-nav.navbar-right
            li: a(href="#part-young",ng-click="iconToggle(1)") 
              | ・
              .navico(ng-class="{'show':navToggle==1}"): img(src="img/nav/s1.png")
            li: a(href="#part-life",ng-click="iconToggle(2)") 
              | ・
              .navico(ng-class="{'show':navToggle==2}"): img(src="img/nav/s2.png")
            li: a(href="#part-compare",ng-click="iconToggle(3)") 
              | ・
              .navico(ng-class="{'show':navToggle==3}"): img(src="img/nav/s3.png")
            li: a(href="#part-white",ng-click="iconToggle(4)") 
              | ・
              .navico(ng-class="{'show':navToggle==4}"): img(src="img/nav/s4.png")
            li#fb-icon: a(href="https://www.facebook.com/NtuNewsEForum",target="_blank"): .ib: img(src="img/nav/fb.png")
    #content
      include landing.jade
      include young.jade
      include life.jade
      include compare.jade
      include white.jade
      #tail-anchor
