mixin fixbk(cat,pid,pr)
  .full
    .full-bk(id="life-fb-"+pid,style="background-image:url(img/"+cat+"/pic/"+pid+"@"+pr+".jpg);",data-anchor-target="#life-ff"+pid,data-bottom-top="top:100%",data-top-top="top:0%",data-bottom-bottom="top:0%",data-top-bottom="top:-100%")
    .full-fk(id="life-ff"+pid)
      block
