doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
    script(type="text/javascript",src="skrollr.min.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="#") 失落的年代 林義雄數位專輯
        .collapse.navbar-collapse
          ui.nav.navbar-nav
    #content
      .section-headline#sh1: .ib
        .fractal(data-0="opacity:0",data-899="opacity:0",data-900="opacity:1")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:0px;margin-left:20px;-webkit-transform:rotate(270deg);opacity:0",src="img/fractal1.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:200px;margin-left:50px;-webkit-transform:rotate(170deg);opacity:0",src="img/fractal4.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:-50px;margin-left:600px;-webkit-transform:rotate(90deg);opacity:0",src="img/fractal3.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:90px;margin-left:-500px;-webkit-transform:rotate(1440deg);opacity:0",src="img/fractal5.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:110px;margin-left:-35px;-webkit-transform:rotate(360deg);opacity:0",src="img/fractal2.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:40px;margin-left:-30px;-webkit-transform:rotate(45deg);opacity:0",src="img/fractal1.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:500px;margin-left:20px;-webkit-transform:rotate(270deg);opacity:0",src="img/fractal3.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:-100px;margin-left:10px;-webkit-transform:rotate(180deg);opacity:0",src="img/fractal2.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:-30px;margin-left:100px;-webkit-transform:rotate(270deg);opacity:0",src="img/fractal5.svg")
          img(data-900="top:100px;margin-left:0px;-webkit-transform:rotate(0deg);opacity:1",data-1000="top:-400px;margin-left:-10px;-webkit-transform:rotate(90deg);opacity:0",src="img/fractal4.svg")
        img.key(data-565="margin-left:-400px;margin-top:348px",data-900="margin-left:-65px;margin-top:48px;opacity:1",data-950="opacity:0",src="img/key.svg")
        img.lock(src="img/lock.svg",data-565="margin-left:305px;margin-top:-335px",data-900="margin-left:-30px;margin-top:0px;opacity:1",data-950="opacity:0")
        img.linex4(src="img/linex4.svg")
        .title 白色恐怖的歷史脈絡
        .part PART III
    .section-headline2: .ib

      .author
        .li
          .c 撰稿
          .c 林邑軒
          .c 臺大社會所博士生
        .li
          .c 編輯
          .c 咪咪
          .c 臺大新聞所
      .title 白色恐怖年代
      .year 1949 - 1987

    script(type="text/javascript").
      skrollr.init({forceHeight: false})
