html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: century gothic; }

#foot {
  position: absolute;
  top: 8000px; }

.bk {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: center center no-repeat; }

.text {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
  .text .ib {
    margin: 30px; }
  .text .title {
    font-size: 3em; }
  .text .desc {
    font-size: 1.3em;
    letter-spacing: 1px; }

#iskao .bk {
  background-image: url(img/iskao.jpg);
  background-size: cover; }

#iskao .text {
  top: 60px;
  color: white;
  width: 60%;
  right: 10%;
  left: auto;
  background: rgba(0, 0, 0, 0.5); }

#linblood .bk {
  background-image: url(img/linblood.jpg);
  background-size: cover; }

#linblood .text {
  top: 60px;
  color: white;
  width: 60%;
  right: 10%;
  left: auto;
  background: rgba(0, 0, 0, 0.5); }

#wen .bk {
  background-image: url(img/wen.jpg);
  background-size: cover; }

#wen .text {
  top: 60px;
  color: white;
  width: 60%;
  right: 10%;
  left: auto;
  background: rgba(0, 0, 0, 0.5); }

#timeline {
  display: block;
  z-index: 3;
  position: fixed; }
  #timeline text {
    fill: white;
    font-size: 12px; }
  #timeline circle {
    fill: white;
    stroke: #009944;
    stroke-width: 5px; }
  #timeline line {
    stroke: #009944;
    stroke-width: 5px;
    stroke-linecap: round; }

#people {
  position: fixed;
  width: 100%; }
  #people > .ib {
    text-align: center;
    width: 100%;
    margin-top: 100px; }
  #people .person {
    display: block;
    float: left;
    margin: 20px;
    left: 10%; }
    #people .person .info {
      width: 150px;
      border-left: 1px solid #999999;
      padding-left: 10px; }
      #people .person .info .name {
        font-weight: bold;
        font-size: 1.2em; }
    #people .person .ib {
      border-radius: 50%;
      border: 5px solid black; }
      #people .person .ib img {
        width: 150px;
        border-radius: 50%;
        margin: 5px 5px 0; }
