@import basic

#avatars
  width: 80%
  position: fixed
  top: 100px
  left: 10%
  z-index: 8
  margin-top: 60px
#avatars .item
  width: 14%
  margin: 3%
  float: left
.avatar
  width: 100%
  background: none
  border: 1px solid #DB4441
  border-radius: 50%
  padding: 5%
  cursor: pointer
  @include transition(all 0.5s)
  .ib
    width: 100%
    height: 100%
    background-color: #DB4441
    border-radius: 50%
    background-size: cover
    img
      width: 100%
      opacity: 0
  .p4
    background-image: url(img/young/p4.png)
.detail .avatar
  position: fixed
  z-index: 301
  top: 100px
  right: 10%
  margin-right: 30px
  width: 100px
  padding: 5px
  background: #fff
  box-shadow: 0 3px 6px rgba(0,0,0,0.3)
  .ib
    background-color: rgba(128,128,128,1)

.avatar:hover
  opacity: 1!important
  box-shadow: 0 0 20px rgba(255,0,0,0.5)

.brief
  padding: 10px 20px 20px
  color: #DB4441
  .name
    font-size: 2.0em
  .desc
    font-size: 1.3em
.brief.right
  border-right: 1px solid #DB4441
  text-align: right
  position: relative

.brief.left
  border-left: 1px solid #DB4441
  text-align: left
  position: relative

.caption
  font-size: 3em
  color: #DB4441
  width: 100%
  text-align: center
  &:before, &:after
    display: inline-block
    content: " "
    width: 80px
    height: 40px
    vertical-align: middle
    background: no-repeat center center
  &:before
    background-image: url(img/caption-speaker1.svg)
  &:after
    background-image: url(img/caption-speaker2.svg)

.yng-author
  width: 80%
  padding: 5px
  border-bottom: 1px solid #DB4441
  height: 220px
  position: relative
  left: 10%
  .ib
    position: absolute
    bottom: 10px
    font-size: 1.2em
    color: #444
  .ib.right
    right: 10px
    text-align: right

  .yng-author-mic
    position: absolute
    width: 90px
    height: 220px
    top: 20px
    left: 40%
    background: url(img/microphone2.svg) center center no-repeat

#yng-author-p1 .yng-author-mic
  left: 5%
#yng-author-p2 .yng-author-mic
  left: 27%
  margin-left: -20px
#yng-author-p3 .yng-author-mic
  left: 49%
  margin-left: -43px
#yng-author-p4 .yng-author-mic
  left: 72%
  margin-left: -67px
#yng-author-p5 .yng-author-mic
  left: 93%
  margin-left: -90px

.detail
  position: relative
  z-index: 10
  border-top: 1px solid #DB4441
  border-bottom: 1px solid #DB4441
  width: 80%
  left: 10%
  > .ib
    margin: 10px 0
    width: 100%
    background: #DB4441
    padding: 40px 160px 40px 60px
    color: #fff
    font-size: 1.5em
    letter-spacing: 1px
    line-height: 2.2em
    p
      margin-bottom: 60px

.hl-yng
  position: absolute
  width: 100%
.yng-p
  height: 1600px
  background: none
